<!DOCTYPE HTML>
<html class="" lang="ru-RU">
<head>
    <meta charset="UTF-8">

    <title>{{titleSite}}</title>

    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />



    <meta name="description" content="{{descriptionSite}}"/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="{{{canonicalUrl}}}" />


    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='stylesheet' id='woocomposer-style-css'  href='wp-content/plugins/Ultimate_VC_Addons/woocomposer/assets/css/woocomposer.min.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='us-font-1-css'  href='http://fonts.googleapis.com/css?family=Noto+Sans%3A400%2C700&#038;subset=cyrillic&#038;ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='us-font-2-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700&#038;subset=cyrillic&#038;ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='us-woocommerce-css'  href='wp-content/themes/solidair/css/us.woocommerce.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='us-woocommerce-responsive-css'  href='wp-content/themes/solidair/css/us.woocommerce-responsive.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'  href='wp-content/plugins/js_composer/assets/css/js_composer.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='us-base-css'  href='wp-content/themes/solidair/framework/css/us-base.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='us-font-awesome-css'  href='wp-content/themes/solidair/framework/css/font-awesome.css?ver=4.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='us-font-mdfi-css'  href='wp-content/themes/solidair/framework/css/font-mdfi.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='us-magnific-popup-css'  href='wp-content/themes/solidair/framework/css/magnific-popup.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='us-style-css'  href='wp-content/themes/solidair/css/style.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='us-responsive-css'  href='wp-content/themes/solidair/css/responsive.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='us-responsive-css'  href='wp-content/themes/solidair/tableAdaptive.css' type='text/css' media='all' />


    <link rel='stylesheet' id='us-theme-options-css'  href='wp-content/uploads/us-assets/Impreza%20-%20shared%20on%20themelord.com-theme-options.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='bsf-Defaults-css'  href='wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.7.5' type='text/css' media='all' />
    <link rel='stylesheet' id='ultimate-style-min-css'  href='wp-content/plugins/Ultimate_VC_Addons/assets/min-css/ultimate.min.css?ver=3.13.4' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css'  href='wp-content/plugins/easy-fancybox/fancybox/jquery.fancybox-1.3.8.min.css?ver=1.5.8.2' type='text/css' media='screen' />



    <script type='text/javascript' src='wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.6.13'></script>
    <script type='text/javascript' src='wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=4.5.1'></script>
    <script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate-params.min.js?ver=3.13.4'></script>
    <script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/jquery-appear.min.js?ver=3.13.4'></script>
    <script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/custom.min.js?ver=3.13.4'></script>
    <script type='text/javascript' src='wp-content/plugins/respond.min.js'></script>


    <style type="text/css">
        /* @font-face { font-family: "Rubl Sign"; src: url(http://solidair.ru/wp-content/plugins/saphali-woocommerce-lite/ruble.eot); } */

        @font-face { font-family: "rub-arial-regular"; src: url("wp-content/plugins/saphali-woocommerce-lite/ruble-simb.woff"), url("wp-content/plugins/saphali-woocommerce-lite/ruble-simb.ttf");
        }
        span.rur {
            font-family: rub-arial-regular;
            text-transform: uppercase;
        }
        span.rur span { display: none; }

        /* span.rur { font-family: "Rubl Sign"; text-transform: uppercase;}
        span.rur:before {top: 0.06em;left: 0.55em;content: '\2013'; position: relative;} */
    </style>



    <meta property="og:title" content="{{titleSite}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{{canonicalUrl}}}">
    <meta property="og:image" content="{{ogImg}}">
    <meta property="og:description" content="{{descriptionSite}}">






    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]-->
    <!-- Easy FancyBox 1.5.8.2 using FancyBox 1.3.8 - RavanH (http://status301.net/wordpress-plugins/easy-fancybox/) -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var fb_timeout = null;
        var fb_opts = { 'overlayShow' : true, 'hideOnOverlayClick' : true, 'showCloseButton' : true, 'margin' : 20, 'centerOnScroll' : true, 'enableEscapeButton' : true, 'autoScale' : true };
        var easy_fancybox_handler = function(){
            /* Inline */
            jQuery('a.fancybox-inline, area.fancybox-inline, li.fancybox-inline a').fancybox( jQuery.extend({}, fb_opts, { 'type' : 'inline', 'autoDimensions' : true, 'scrolling' : 'no', 'easingIn' : 'easeOutBack', 'easingOut' : 'easeInBack', 'opacity' : false, 'hideOnContentClick' : false }) );
        }
        var easy_fancybox_auto = function(){
            /* Auto-click */
            setTimeout(function(){jQuery('#fancybox-auto').trigger('click')},1000);
        }
        /* ]]> */
    </script>
    <noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
    <link rel='stylesheet' href='wp-content/themes/solidair/style.css' type='text/css' media='all' />

    <script type='text/javascript' src='wp-content/themes/solidair/js/jquery.webui-popover.min.js'></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body class="home page-template-default page page-id-4147 l-body us-theme_impreza - shared on themelord.com_2-1-2 woocommerce-type_1 columns-5 wpb-js-composer js-comp-ver-4.5.1 vc_responsive archive term-vintovye-kompressory tax-product_cat  woocommerce woocommerce-page">




<!-- CANVAS -->
<div class="l-canvas sidebar_none type_wide titlebar_none">



    <!-- HEADER -->
    <div class="l-header layout_standard pos_static bg_solid">

        <div class="l-subheader at_middle">
            <div class="l-subheader-h i-cf">



                <div class="w-logo "><a class="w-logo-link" href="/"><span class="w-logo-img"><img class="for_default" src="/wp-content/uploads/2015/10/logo.png" width="110" height="91" alt="SOLIDair" /></span></a></div>

                <div class="logo-all-img">
                    <a href="/" class="logo-kkt">
                        <img src="wp-content/uploads/logo.png">
                    </a>
                    <div class="clearfix"></div>

                </div>

                <div class="telephone-top">

                    <ul>
                        <li>+7 (495) 66-29-529;</li>
                        <li>+7 (343) 38-528-49;</li>

                    </ul>

                    <ul style="margin-left: 150px;
    margin-top: -40px;">

                        <li>+7 (861) 255-08-48;</li>
                        <li>+7 (861) 251-87-43;</li>


                    </ul>


                </div>





                <div class="w-search layout_popup">

                    <div class="w-search-open"></div>
                    <div class="w-search-background"></div>

                    <div class="w-form for_search" id="us_form_1">
                        <form class="w-form-h" autocomplete="off" action="/search" method="get">
                            <div class="w-form-row for_s">
                                <div class="w-form-row-label">
                                    <label for="us_form_1_s">Наберите текст и нажмите Enter</label>
                                </div>
                                <div class="w-form-row-field">
                                    <input type="text" name="s" id="us_form_1_s" value=""
                                           placeholder=""/>
                                    <span class="w-form-row-field-bar"></span>
                                </div>
                                <div class="w-form-row-state"></div>
                            </div>
                            <div class="w-form-row for_submit">
                                <div class="w-form-row-field">
                                    <button class="w-btn" type="submit">
                                        <span class="g-preloader"></span>
                                        <span class="w-btn-label">Поиск</span>
                                    </button>
                                </div>
                            </div>
                            <div class="w-form-message"></div>
                            <div class="w-search-close"></div>	</form>
                    </div>
                </div>

                <!-- NAV -->
                <nav class="w-nav layout_hor type_desktop animation_height">
                    <div class="w-nav-control"></div>
                    <ul class="w-nav-list level_1 hover_underline hidden">
                        <li id="menu-item-4366" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children w-nav-item level_1 menu-item-4366"><a class="w-nav-anchor level_1" ><span class="w-nav-title">Компрессорное оборудование</span><span class="w-nav-arrow"></span></a>
                            <ul class="w-nav-list level_2">


                               {{#each categorys}}


                                   <li id="menu-item-4363" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat w-nav-item level_2 menu-item-4363"><a class="w-nav-anchor level_2"  href="/category?id={{this._id}}"><span class="w-nav-title">{{this.name}}</span><span class="w-nav-arrow"></span></a>	</li>



                               {{/each}}



                            </ul>
                        </li>
                        <li id="menu-item-4612" class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_1 menu-item-4612"><a class="w-nav-anchor level_1"  href="/about"><span class="w-nav-title">О Компании Энерготехника</span><span class="w-nav-arrow"></span></a></li>
                        <li id="menu-item-4362" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4362"><a class="w-nav-anchor level_1"  href="/contact"><span class="w-nav-title">Контакты</span><span class="w-nav-arrow"></span></a></li>
                    </ul>
                </nav><!-- /NAV -->


            </div>
        </div>

    </div>
    <!-- /HEADER -->



    {{{body}}}



</div>
<!-- /CANVAS -->



<!-- FOOTER -->
<div class="l-footer">


    <!-- subfooter: bottom -->
    <div class="l-subfooter at_bottom">
        <div class="l-subfooter-h i-cf">



            <div class="w-copyright">&copy; {{yearCopyright}} {{footer}}</div>


        </div>
    </div>

</div>
<!-- /FOOTER -->





<a class="w-toplink" href="#"></a>
<script type="text/javascript">
    if (window.$us === undefined) window.$us = {};
    $us.canvasOptions = ($us.canvasOptions || {});
    $us.canvasOptions.disableStickyHeaderWidth = 900;
    $us.canvasOptions.disableEffectsWidth = 900;
    $us.canvasOptions.headerScrollBreakpoint = 100;
    $us.canvasOptions.responsive = true;

    $us.navOptions = ($us.navOptions || {});
    $us.navOptions.mobileWidth = 900;
    $us.navOptions.togglable = true;
</script>

<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/woocomposer/assets/js/unveil.js'></script>
<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/woocomposer/assets/js/slick.js'></script>
<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/woocomposer/assets/js/custom.js'></script>
<script type='text/javascript' src='wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js'></script>

<script type='text/javascript' src='wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.6.1'></script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>

<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.13'></script>
<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>

<script type='text/javascript' src='wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.13'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/jquery.easing.min.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/jquery.magnific-popup.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/jquery.simpleplaceholder.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/imagesloaded.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/us.core.js?ver=2.1.2'></script>
<script type='text/javascript' src='wp-content/themes/solidair/framework/js/us.widgets.js?ver=2.1.2'></script>
<script type='text/javascript' src='wp-content/themes/solidair/js/us.theme.js?ver=2.1.2'></script>
<script type='text/javascript' src='wp-includes/js/comment-reply.min.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/SmoothScroll.min.js?ver=3.13.4'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.min.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/ultimate_bg.min.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/plugins/Ultimate_VC_Addons/assets/min-js/vhparallax.min.js?ver=4.7.5'></script>
<script type='text/javascript' src='wp-content/plugins/easy-fancybox/fancybox/jquery.fancybox-1.3.8.min.js?ver=1.5.8.2'></script>
<script type='text/javascript' src='wp-content/plugins/easy-fancybox/js/jquery.easing.min.js?ver=1.3.2'></script>
<script type='text/javascript' src='wp-content/plugins/easy-fancybox/js/jquery.mousewheel.min.js?ver=3.1.12'></script>
<script type="text/javascript">
    jQuery(document).on('ready post-load', function(){ jQuery('.nofancybox,a.pin-it-button,a[href*="pinterest.com/pin/create/button"]').addClass('nolightbox'); });
    jQuery(document).on('ready post-load',easy_fancybox_handler);
    jQuery(document).on('ready',easy_fancybox_auto);</script>






<script type="text/javascript">
    (function($){
        $(document).ready(function(){





            $('#btn').on('click', function (e) {
                e.preventDefault();


                var formData = {
                    'name' : $('input[name="fio"]').val(),
                    'email' : $('input[name="email"]').val(),
                    'org' : $('input[name="org"]').val(),
                    'tel' : $('input[name="tel"]').val(),
                    'nameprod' : $('input[name="nameprod"]').val(),
                    'text' : $('textarea[name="text"]').val()
                };




                $.ajax({
                    type : 'GET',
                    url  : '/orderfromsite',
                    data : formData
                }).done(function (data) {

                  $('#fancybox-close').click();

                }).fail(function (data) {
                    // for debug
                    console.log(data)
                });






            });






        });
    })(this.jQuery);
</script>




<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59255d4d8028bb7327047829/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>

