<div class="l-titlebar size_large color_alternate"><div class="l-titlebar-h i-cf"><h1>Результаты поиска: "{{q}}"</h1></div></div><!-- MAIN -->
<div class="l-main">
    <div class="l-main-h i-cf">

        <div class="l-content g-html">
            <section class="l-section">
                <div class="l-section-h i-cf">


                    <div class="w-blog layout_compact"><div class="w-blog-list">



                        {{#each data}}


                            <div class="w-blog-post post-4640 product type-product status-publish has-post-thumbnail product_cat-kompressornye-ustanovki-na-resivere-s-osushitelem-i-filtrami first instock shipping-taxable purchasable product-type-simple">
                                <div class="w-blog-post-h">
                                    <a class="w-blog-post-link" href="/product?id={{this._id}}">
                                        <h2 class="w-blog-post-title">
                                            {{this.title}}
                                        </h2>
                                    </a>
                                    <div class="w-blog-post-body">

                                        <div class="w-blog-post-content">
                                            <h6>{{this.description}}</h6>
                                        </div>
                                        <a class="w-blog-post-more w-btn" href="/product?id={{this._id}}"><span class="w-btn-label">Читать далее</span></a>
                                    </div>
                                </div>
                            </div>



                        {{/each}}







                    </div>










                    </div>

                </div>
            </section>
        </div>

        <aside class="l-sidebar at_right">
        </aside>

    </div>
</div>